<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h1><%= pergunta.titulo %></h1>
    <p><%= pergunta.descricao %></p>
    <a href="/" class="btn btn-primary">Voltar</a>
    <hr />
  </div>
</body>
<%- include('partials/footer.ejs') %>
